@RenderBody()
@{
    ViewData["Title"] = "Add Mark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div id="currentSubjectId">Create Marks for ViewData["clazzId"]</div>
    <div class="limiter">
        <div class="container-table150">
            <div class="wrap-table100">
                <div class="table100 ver1">
                    <div class="table100-firstcol">
                    </div>

                    <div class="wrap-table100-nextcols js-pscroll">
                        <div class="table100-nextcols">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th style="padding: 20px;">ID</th>
                                        <th class="cell100 column2">Username</th>
                                        <th class="cell100 column3">Last Name</th>
                                        <th class="cell100 column4">First Name</th>
                                        <th class="cell100 column5">Gender</th>
                                        <th class="cell100 column6">Theory</th>
                                        <th class="cell100 column7">Practice</th>
                                        <th class="cell100 column8">Assignment</th>
                                        <th class="cell100 column9">Total Mark</th>
                                        <th class="cell100 column10">Pass Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    // ajax get
                                </tbody>
                            </table>
                            <div>
                                <input type="button" value="submit" id="btnSubmitMarks">
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script>
    $(document).ready(function(){
        $.ajax({
            method: 'GET',
            url: 'https://eap-asm.azurewebsites.net/api/Accounts',
            headers: {
                'content-type': 'application/json',
                'Authorization': 'Basic ' + token
            },
            success: function (data, textStatus, jqXHR) {
                var htmlContent = '';
                for (var i = 0; i < data.length; i++) {
                    htmlContent += '<tr class="row100 head" id="student-' + data[i].id + '">';
                    htmlContent += '<th style="padding: 20px;">' + data[i].id+ '</th>';
                    htmlContent += '<th class="cell100 column2">' + data[i].username + '</th>';
                    htmlContent += '<th class="cell100 column3">' + data[i].generalInfomation.firstname + '</th>';
                    htmlContent += '<th class="cell100 column4">' + data[i].generalInfomation.lastname + '</th>';            
                    htmlContent += '<th class="cell100 column5">' + data[i].generalInfomation.gender + '</th>';
                    htmlContent += '<th class="cell100 column6"><input type="number" max="10" step="0.1" id="theory-' + data[i].id + '" value=""></th>';
                    htmlContent += '<th class="cell100 column7"><input type="number" max="15" step="0.1" id="practice-' + data[i].id + '" value=""></th>';
                    htmlContent += '<th class="cell100 column8"><input type="number" max="10" step="0.1" id="assignment-' + data[i].id + '" value=""></th>';             
                    htmlContent += '<th class="cell100 column9" id="total-'+ data[i].id +'"></th>'
                    htmlContent += '<th class="cell100 column10" id="status-'+ data[i].id +'"></th>';
                    htmlContent += '</tr>'
                }
                $('tbody').html(htmlContent);
                calculateMarks();
            },
            error: function (jqXHR, exception) {
                alert('Not okie');
            }
        });

    });
    
    // Calculate total and output pass status
    function calculateMarks(){
        $('tr[id^="student-"]').each(function(index, value) {
            var isPass = "Fail";
            var theoryMark = 0;
            var practiceMark = 0;
            var assignmentMark = 0;
            $(this).find('input[id="theory-' + value + '"]').first(function(){
                $(this).on("blur",function(){
                    if($(this).val().trim().length == 0){
                        alert("Please input mark");
                        $(this).focus();
                    }
                    theoryMark = $(this).val();
                });
            });
            $(this).find('input[id="practice-' + value + '"]').first(function(){
                $(this).on("blur",function(){
                    if($(this).val().trim().length == 0){
                        alert("Please input mark");
                        $(this).focus();
                    }
                    practiceMark = $(this).val();
                });
            });
            $(this).find('input[id="assignment-' + value + '"]').first(function(){
                $(this).on("blur",function(){
                    if($(this).val().trim().length == 0){
                        alert("Please input mark");
                        $(this).focus();
                    }
                    assignmentMark = $(this).val();
                });
            });
            var totalMark = (theoryMark + practiceMark + assignmentMark)/(10 + 15 + 10);
            if(totalMark >= 4.0 && theoryMark >= 4.0 && practiceMark >= 4.0
            && assignmentMark >= 4.0){
                isPass = "Pass";
            }
            $(this).find('th[id="total-' + value + '"]').first().html() = totalMark;
            $(this).find('th[id="status-' + value + '"]').first().html() = isPass;
        });
    }

    $('#btnSubmitMarks').click(function () {
        var token = localStorage.getItem('token-key');
        var data = [];
        $('input[type="number"]').each(function(){
            var markType = $(this).attr('id').split('-').first();
            switch(markType){
                case "theory": 
                    markType = 0;
                    break;
                case "practice":
                    markType = 1;
                    break;
                case "assignment":
                    markType = 2;
                    break;
                default:
                    markType = -1;
                    break;
            }
            var mark = {
                'AccountId': $(this).attr('id').split('-').pop(),
                'SubjectId': $('#currentSubjectId').html(),
                'Value': $(this).val(),
                'MarkType': markType
            };
            data.push(mark);
        });
        $.ajax({
            method: 'POST',
            url: 'https://eap-asm.azurewebsites.net/api/Marks', // sửa url sau khi có api
            headers: {
                'content-type': 'application/json',
                'Authorization': 'Basic ' + token
            },
            data: JSON.stringify(dataTables_processing),
            success: function (data, textStatus, jqXHR) {
                alert('Added marks successfully!');
            },
            error: function (r, exception) {
                alert('Not okie');
                console.log(r);
            }
        });
    });
</script>