
@{
    ViewData["Title"] = "DetailStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailStudent</h2>

<section class="content-header">
    <div id="className"></div>
    <div>
        Start Date:
        <div id="startDate"></div>
    </div>
    <div>
        Current Subject:
        <div id="currentSubject"></div>
        <div id="createMark"></div>
    </div>
    <div>
        Session:
        <div id="session"></div>
    </div>
</section>