@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container">
        <h1>Edit Subject</h1>
        <hr>
        <div class="row">
            <div class="col-md-9 personal-info">
                <h3>Subject Information</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Subject ID:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="C01">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Subject name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="T1708E">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Description:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Start Date:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="date" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">End Date:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="date" value="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="button" class="btn btn-primary" value="Save">
                            <span></span>
                            <input type="reset" class="btn btn-default" value="Cancel">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
</section>
<section class="content container-fluid"></section>
