@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form role="form" class="signup-form">
                        <h2 class="form-title">Edit Subject</h2>
                        <div class="form-group">
                            <div class="form-input">
                                <input type="text" class="form-input" value="" name="id" placeholder="Subject ID:" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-input">
                                <input type="text" class="form-input" value="" name="name" placeholder="Subject name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-input">
                                <input type="text" class="form-input" value="" name="description" placeholder="Description" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Save Edit" />&nbsp;
                            <input type="reset" class="form-submit" value="Cancel">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</section>
<section class="content container-fluid"></section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        var token = localStorage.getItem('token-key');
        var id = window.location.href.substr(location.href.lastIndexOf('/') + 1);
        $.ajax({
            method: 'GET',
            url: 'https://eap-asm.azurewebsites.net/api/Subjects/' + id,
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Basic ' + token
            },
            contentType: 'application/json',
            success: function (data, textStatus, jqXHR) {
                var date = function formatDate() {
                    var d = new Date(data.startDate),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();
                    if (month.length < 2) month = '0' + month;
                    if (day.length < 2) day = '0' + day;
                    return [year, month, day].join('-');
                }
                $('input[name="id"]').val(data.id);
                $('input[name="name"]').val(data.name);
                $('input[name="description"]').val(data.description);
            },
            error: function (r, exception) {
                alert('Not okie ' + r);
                console.log(exception);
            }
        });
    });

    $('#btnSave').click(function () {
        var token = localStorage.getItem('token-key');
        var id = window.location.href.substr(location.href.lastIndexOf('/') + 1);
        var data = {
            "id": $('input[name="id"]').val(),
            "name": $('input[name="name"]').val(),
            "description": $('input[name="description"]').val()
        }
        console.log(JSON.stringify(data));
        $.ajax({
            method: 'PUT',
            url: 'https://eap-asm.azurewebsites.net/api/Subjects/' + id,
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Basic ' + token,
                'Access-Control-Allow-Credentials': true,
                'Access-Control-Allow-Origin': true
            },
            crossDomain: true,
            contentType: 'application/json',
            data: JSON.stringify(data),
            xhrFields: {
                withCredentials: true
            },
            success: function (data, textStatus, jqXHR) {
                alert('Yout have successfully edit this class!');
                window.location.href= "/Manager/ListSubject";
            },
            error: function (r, exception) {
                console.log('There"s an error. Please try again later!');
                console.log(r);
            }
        });
    });
</script>
