@{
    ViewData["Title"] = "List Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        width: 100%;
    }
</style>
<section class="content-header">
    <div class="limiter">
        <div class="container-table150">
            <div class="wrap-table100">
                <h2 class="form-title" style="align-content: center;    
                                            padding-top: 20px;
                                            padding-left: 20px;
                                            text-transform: uppercase;">List Class</h2>
                <form action="#" method="get" class="sidebar-form" id="mysearch">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="table100 ver1">
                    <div class="#">
                        <table style="background-color: white;">
                            <thead>
                                <tr class="row100 head">
                                    <th class="" style="padding: 20px;">ID</th>
                                    <th class="cell100 column2">Start Time</th>
                                    <th class="cell100 column3">Session</th>
                                    <th class="cell100 column8">Status</th>
                                    <th class="cell100 column8">Action</th>
                                </tr>
                            </thead>
                            <tbody class="body">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
        var token = localStorage.getItem('token-key');
        $.ajax({
            method: 'GET',
            url: 'https://eap-asm.azurewebsites.net/api/Clazz',
            headers: {
                'content-type': 'application/json',
                'Authorization': 'Basic ' + 'pvAr1q5z1kj5G2Fr9rnxTYGOJEvbdZIA'
            },
            success: function (data, textStatus, jqXHR) {
                var htmlContent = '';
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    htmlContent += '<tr class="row100 body">'
                    htmlContent += '<td class="id">' + data[i].id + '</td>';
                    htmlContent += '<td class="cell100 column2">' + data[i].startDate + '</td>';
                    htmlContent += '<td class="cell100 column3">' + data[i].session + '</td>';     
                    htmlContent += '<td class="cell100 column8">' + data[i].status + '</td>';                    
                    htmlContent += '<td class="cell100 column8">';
                    htmlContent += '<button><i class="fa fas fa-edit"></i>Edit</button>&emsp;';
                    htmlContent += '<button class="delete"><i class="fa fa-trash"></i> Trash</button>';
                    htmlContent += '</td>';
                    htmlContent += '</tr>';
                }
                $('.body').html(htmlContent);
            },
            error: function (r, exception) {
                alert('Not okie');
                console.log(r);
            }
        });
        $(document).on('click', '.delete', function () {
            
            var id = $(this).closest('tr').children('td.id').text();
            
            $.ajax({
                method: 'DELETE',
                url: 'https://eap-asm.azurewebsites.net/api/Clazz/' + id,
                headers: {
                    'content-type': 'application/json',
                    'Authorization': 'Basic ' + 'pvAr1q5z1kj5G2Fr9rnxTYGOJEvbdZIA'
                },
                success: function (data, textStatus, jqXHR) {
                    alert('ok');
                    var htmlContent = '';
                    for (var i = 0; i < data.length; i++) {
                        htmlContent += '<tr class="row100 body">'
                        htmlContent += '<td class="id">' + data[i].id + '</td>';
                        htmlContent += '<td class="cell100 column2">' + data[i].startDate + '</td>';
                        htmlContent += '<td class="cell100 column3">' + data[i].session + '</td>';
                        htmlContent += '<td class="cell100 column8">' + data[i].status + '</td>';
                        htmlContent += '<td class="cell100 column8">';
                        htmlContent += '<button><i class="fa fas fa-edit"></i>Edit</button>&emsp;';
                        htmlContent += '<button class="delete"><i class="fa fa-trash"></i> Trash</button>';
                        htmlContent += '</td>';
                        htmlContent += '</tr>';
                    }
                    $('.tb-content').html(htmlContent);
                },
                error: function (r, exception) {
                    alert('Not okie');
                    console.log(r);
                }
            });
        });
    </script>
</section>
