@{
    ViewData["Title"] = "List Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        width: 100%;
    }
</style>
<section class="content-header">
    <div class="limiter">
        <div class="container-table150">
            <div class="wrap-table100">
                <h2 class="form-title">List Student</h2>
                <div class="table100 ver1">
                    <div class="#">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="" style="padding: 20px;">ID</th>
                                    <th class="cell100 column2">Username</th>
                                    <th class="cell100 column3">FirstName</th>
                                    <th class="cell100 column4">LastName</th>
                                    <th class="cell100 column5">Gender</th>
                                    <th class="cell100 column6">Class</th>
                                    <th class="cell100 column8">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
