@{
    ViewData["Title"] = "List Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        width: 100%;
    }
</style>
<section class="content-header">
    <div class="limiter">
        <div class="container-table150">
            <div class="wrap-table100">
                <h2 class="form-title">List Student</h2>
                <form action="#" method="get" class="sidebar-form" id="mysearch">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="table100 ver1">
                    <div class="#">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="" style="padding: 20px;">ID</th>
                                    <th class="cell100 column2">Username</th>
                                    <th class="cell100 column3">FirstName</th>
                                    <th class="cell100 column4">LastName</th>
                                    <th class="cell100 column5">Gender</th>
                                    <th class="cell100 column6">Class</th>
                                    <th class="cell100 column8">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="">Brandon Green</td>
                                    <td class="cell100 column2">CMO</td>
                                    <td class="cell100 column3">16 Nov 2012</td>
                                    <td class="cell100 column4">16 Nov 2017</td>
                                    <td class="cell100 column5">brandon94@example.com</td>
                                    <td class="cell100 column6">30</td>
                                    <td class="cell100 column8">
                                        <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                        <button><i class="fa fa-trash"></i> Trash</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    var token = localStorage.getItem('token-key');
    $.ajax({
        method: 'GET',
        url: 'https://eap-asm.azurewebsites.net/api/Accounts',
        headers: {
            'content-type': 'application/json',
            'Authorization': 'Basic ' + token
        },
        success: function (data, textStatus, jqXHR) {
            var htmlContent = '';
            for (var i = 0; i < data.length; i++) {
                htmlContent += '<td class="">' + data[i].id+ '</td>';
                htmlContent += '<td class="cell100 column4">' + data[i].username + '</td>';
                htmlContent += '<td class="cell100 column2">' + data[i].generalInfomation.firstname + '</td>';
                htmlContent += '<td class="cell100 column3">' + data[i].generalInfomation.lastname + '</td>';            
                htmlContent += '<td class="cell100 column5">' + data[i].generalInfomation.gender + '</td>';
                htmlContent += '<td class="cell100 column6">' + data[i].generalInfomation.class + '</td>';             
                htmlContent += '<td class="cell100 column8">';
                htmlContent += '<button><i class="fa fas fa-edit"></i>Edit</button>&emsp;';
                htmlContent += '<button><i class="fa fa-trash"></i> Trash</button>';
                htmlContent += '</td>'
            }
            $('.tb-content').html(htmlContent);
        },
        error: function (jqXHR, exception) {
            alert('Not okie');
        }
    });
</script>

</section>
