@RenderBody()
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content container-fluid">
    <head>
        <title>Table V05</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--===============================================================================================-->
    </head>
    <body>

        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1">
                        <div class="table100-firstcol">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Brandon Green</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Kathy Daniels</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Elizabeth Alvarado</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Michael Coleman</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Jason Cox</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Christian Perkins</td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column1">Emily Wheeler</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="wrap-table100-nextcols js-pscroll">
                            <div class="table100-nextcols">
                                <table>
                                    <thead>
                                        <tr class="row100 head">
                                            <th class="cell100 column2">Full Name</th>
                                            <th class="cell100 column3">Start date</th>
                                            <th class="cell100 column4">Last Activity</th>
                                            <th class="cell100 column5">Contacts</th>
                                            <th class="cell100 column6">Age</th>
                                            <th class="cell100 column7">Address</th>
                                            <th class="cell100 column8">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="row100 body">
                                            <td class="cell100 column2">CMO</td>
                                            <td class="cell100 column3">16 Nov 2012</td>
                                            <td class="cell100 column4">16 Nov 2017</td>
                                            <td class="cell100 column5">brandon94@example.com</td>
                                            <td class="cell100 column6">30</td>
                                            <td class="cell100 column7">New York City, NY</td>
                                            <td class="cell100 column8">
                                                <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                                <button><i class="fa fa-trash"></i> Trash</button>
                                            </td>
                                        </tr>

                                        <tr class="row100 body">
                                            <td class="cell100 column2">Marketing</td>
                                            <td class="cell100 column3">16 Nov 2015</td>
                                            <td class="cell100 column4">30 Nov 2017</td>
                                            <td class="cell100 column5">kathy_82@example.com</td>
                                            <td class="cell100 column6">26</td>
                                            <td class="cell100 column7">New York City, NY</td>
                                            <td class="cell100 column8">
                                                <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                                <button><i class="fa fa-trash"></i> Trash</button>
                                            </td>
                                        </tr>

                                        <tr class="row100 body">
                                            <td class="cell100 column2">CFO</td>
                                            <td class="cell100 column3">16 Nov 2013</td>
                                            <td class="cell100 column4">30 Nov 2017</td>
                                            <td class="cell100 column5">elizabeth82@example.com</td>
                                            <td class="cell100 column6">32</td>
                                            <td class="cell100 column7">New York City, NY</td>
                                            <td class="cell100 column8">
                                                <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                                <button><i class="fa fa-trash"></i> Trash</button>
                                            </td>
                                        </tr>

                                        <tr class="row100 body">
                                            <td class="cell100 column2">Designer</td>
                                            <td class="cell100 column3">16 Nov 2013</td>
                                            <td class="cell100 column4">30 Nov 2017</td>
                                            <td class="cell100 column5">michael94@example.com</td>
                                            <td class="cell100 column6">22</td>
                                            <td class="cell100 column7">New York City, NY</td>
                                            <td class="cell100 column8">
                                                <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                                <button><i class="fa fa-trash"></i> Trash</button>
                                            </td>
                                        </tr>

                                        <tr class="row100 body">
                                            <td class="cell100 column2">Developer</td>
                                            <td class="cell100 column3">16 Nov 2017</td>
                                            <td class="cell100 column4">30 Nov 2017</td>
                                            <td class="cell100 column5">jasoncox@example.com</td>
                                            <td class="cell100 column6">25</td>
                                            <td class="cell100 column7">New York City, NY</td>
                                            <td class="cell100 column8">
                                                <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                                <button><i class="fa fa-trash"></i> Trash</button>
                                            </td>
                                        </tr>

                                        <tr class="row100 body">
                                            <td class="cell100 column2">Sale</td>
                                            <td class="cell100 column3">16 Nov 2016</td>
                                            <td class="cell100 column4">30 Nov 2017</td>
                                            <td class="cell100 column5">christian_83@example.com</td>
                                            <td class="cell100 column6">28</td>
                                            <td class="cell100 column7">New York City, NY</td>
                                            <td class="cell100 column8">
                                                <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                                <button><i class="fa fa-trash"></i> Trash</button>
                                            </td>
                                        </tr>

                                        <tr class="row100 body">
                                            <td class="cell100 column2">Support</td>
                                            <td class="cell100 column3">16 Nov 2013</td>
                                            <td class="cell100 column4">30 Nov 2017</td>
                                            <td class="cell100 column5">emily90@example.com</td>
                                            <td class="cell100 column6">24</td>
                                            <td class="cell100 column7">New York City, NY</td>
                                            <td class="cell100 column8">
                                                <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                                <button><i class="fa fa-trash"></i> Trash</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</section>

