@{
    ViewData["Title"] = "List Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th, tr, td {
        text-align: center;
    }

    td {
        padding: 10px;
    }

    table {
        background-color: white;
        width: 100%;
        border-radius: 2%;
    }
</style>
<section class="content-header">
    <div class="limiter">
        <div class="container-table150">
            <div class="wrap-table100">
                <div class="table100 ver1">
                    <div class="#">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="" style="padding: 20px;">ID</th>
                                    <th class="cell100 column2">Username</th>
                                    <th class="cell100 column3">FirstName</th>
                                    <th class="cell100 column4">LastName</th>
                                    <th class="cell100 column5">Gender</th>
                                    <th class="cell100 column6">Birthday</th>
                                    <th class="cell100 column7">Email</th>
                                    <th class="cell100 column8">Action</th>
                                </tr>
                            </thead>
                            <tbody class=" tb-content"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    var token = localStorage.getItem('token-key');
    $.ajax({
        method: 'GET',
        url: 'https://eap-asm.azurewebsites.net/api/Accounts',
        headers: {
            'content-type': 'application/json',
            'Authorization': 'Basic ' + 'WhCMvXxz1kjxIS4bjZLTYkqorOW64Z'
        },
        success: function (data, textStatus, jqXHR) {
            var htmlContent = '';
            for (var i = 0; i < data.length; i++) {
                htmlContent += '<tr class="row100 body">'
                htmlContent += '<td class="">' + data[i].id+ '</td>';
                htmlContent += '<td class="cell100 column2">' + data[i].username + '</td>';
                htmlContent += '<td class="cell100 column3">' + data[i].generalInformation.firstName + '</td>';
                htmlContent += '<td class="cell100 column4">' + data[i].generalInformation.lastName + '</td>';
                htmlContent += '<td class="cell100 column5">' + data[i].generalInformation.gender + '</td>';
                htmlContent += '<td class="cell100 column6">' + data[i].generalInformation.birthday + '</td>';
                htmlContent += '<td class="cell100 column7">' + data[i].email + '</td>';
                htmlContent += '<td class="cell100 column8">';
                htmlContent += '<a href="/Admin/EditAccount/' + data[i].id + '"><button><i class="fa fas fa-edit"></i>Edit</button></a>&emsp;';
                htmlContent += '<button><i class="fa fa-trash"></i> Trash</button>';
                htmlContent += '</td>';
                htmlContent += '</tr>';
            }
            $('.tb-content').html(htmlContent);
        },
        error: function (r, exception) {
            alert('Not okie');
            console.log(r);
        }
    });
</script>