@{
    ViewData["Title"] = "List Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="limiter">
        <div class="container-table150">
            <div class="wrap-table100">
                <div class="table100 ver1">
                    <div class="table100-firstcol">
                        <table >
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Brandon Green</td>
                                </tr>

                                <tr class="row100 body">
                                    <td class="cell100 column1">Kathy Daniels</td>
                                </tr>

                                <tr class="row100 body">
                                    <td class="cell100 column1">Elizabeth Alvarado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="wrap-table100-nextcols js-pscroll">
                        <div class="table100-nextcols">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column2">Username</th>
                                        <th class="cell100 column3">FirstName</th>
                                        <th class="cell100 column4">LastName</th>
                                        <th class="cell100 column5">Gender</th>
                                        <th class="cell100 column6">Birthday</th>
                                        <th class="cell100 column7">Email</th>
                                        <th class="cell100 column8">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row100 body">
                                        <td class="cell100 column2">CMO</td>
                                        <td class="cell100 column3">16 Nov 2012</td>
                                        <td class="cell100 column4">16 Nov 2017</td>
                                        <td class="cell100 column5">brandon94@example.com</td>
                                        <td class="cell100 column6">30</td>
                                        <td class="cell100 column7">New York City, NY</td>
                                        <td class="cell100 column8">
                                            <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                            <button><i class="fa fa-trash"></i> Trash</button>
                                        </td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column2">Marketing</td>
                                        <td class="cell100 column3">16 Nov 2015</td>
                                        <td class="cell100 column4">30 Nov 2017</td>
                                        <td class="cell100 column5">kathy_82@example.com</td>
                                        <td class="cell100 column6">26</td>
                                        <td class="cell100 column7">New York City, NY</td>
                                        <td class="cell100 column8">
                                            <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                            <button><i class="fa fa-trash"></i> Trash</button>
                                        </td>
                                    </tr>

                                    <tr class="row100 body">
                                        <td class="cell100 column2">CFO</td>
                                        <td class="cell100 column3">16 Nov 2013</td>
                                        <td class="cell100 column4">30 Nov 2017</td>
                                        <td class="cell100 column5">elizabeth82@example.com</td>
                                        <td class="cell100 column6">32</td>
                                        <td class="cell100 column7">New York City, NY</td>
                                        <td class="cell100 column8">
                                            <button><i class="fa fas fa-edit"></i> Edit</button>&emsp;
                                            <button><i class="fa fa-trash"></i> Trash</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

